<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <system.serviceModel>
    <services>
      <service behaviorConfiguration="RestWCFServiceLibrary.ServiceBehavior"
        name="RestWCFServiceLibrary.StudentService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding"
          contract="RestWCFServiceLibrary.IStudentService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8887/RestWCFServiceLibrary/StudentService" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="RestWCFServiceLibrary.ServiceBehavior"
        name="RestWCFServiceLibrary.TeacherService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding"
          contract="RestWCFServiceLibrary.ITeacherService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8887/RestWCFServiceLibrary/TeacherService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="RestWCFServiceLibrary.ServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  
</configuration>

